h1{
  text-align: center;
}

h2{
  font-size: 22px;
}
#JS-def {
  display: none;
}

#operators-def {
  display: none;
}

#variables-def {
  display: none;
}

#vnc-def {
  display: none;
}

#functions-def {
  display: none;
}

#methods-def {
  display: none;
}

#arguments-def {
  display: none;
}

#parameters-def {
  display: none;
}

#return-def {
  display: none;
}

#chaining-def {
  display: none;
}

#strings-def {
  display: none;
}

#booleans-def {
  display: none;
}

#undefined-def {
  display: none;
}

#nan-def {
  display: none;
}

#escape-def {
  display: none;
}

#alert-def {
  display: none;
}

#comments-def {
  display: none;
}

#jquery-def {
  display: none;
}

#attributes-def {
  display: none;
}
