h1{
  text-align: center;
}

h2{
  font-size: 22px;
}
#JS-def {
  display: none;
}

#operators-def {
  display: none;
}

#variables-def {
  display: none;
}

#vnc-def {
  display: none;
}

#functions-def {
  display: none;
}

#methods-def {
  display: none;
}

#arguments-def {
  display: none;
}

#parameters-def {
  display: none;
}

#-def {
  display: none;
}

#-def {
  display: none;
}

#-def {
  display: none;
}

#-def {
  display: none;
}

#-def {
  display: none;
}

#-def {
  display: none;
}

#-def {
  display: none;
}

#-def {
  display: none;
}

#-def {
  display: none;
}

#-def {
  display: none;
}

#-def {
  display: none;
}
